.include-wrapper {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: full-width;

  & > .include.cards {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: content;
  }

  .cards.wrapper {
    display: grid;
    grid-column: content;
  }

  &:has(.breakout) {
    display: grid;
    grid-column: full-width;
    grid-template-columns: subgrid;
  }
}

.breakout {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: full-width;
  grid-auto-flow: row;

  &.block {
    margin-block: var(--spacing-12);
  }
}

.breakout-left {
  grid-column: breakout-left;
}

.breakout-right {
  grid-column: breakout-right;
}

.two-columns {
  --two-column-grid-flow: column;
  --two-column-margin-block: var(--spacing-8);

  display: grid;
  grid-auto-flow: var(--two-column-grid-flow);
  margin-block: var(--two-column-margin-block);
  grid-column: full-width;
  grid-template-columns: subgrid;
  grid-template-rows: [image-start] auto [image-end content-start] auto [content-end];

  @media (width > 768px) {
    & {
      --two-column-grid-flow: row;
    }
  }

  .default-content-wrapper {
    grid-column: content;
    grid-row: content;
    padding: var(--spacing-6);

    &.image-content {
      grid-column: full-width;
      grid-row: image;
      padding: 0;
    }

    & :last-child {
      padding-block-end: 0;
      margin-block-end: 0;
    }
  }

  .image-content {
    grid-column: image;

    & picture,
    & img {
      aspect-ratio: 16 / 9;
      height: 100%;
      max-width: unset;
      object-fit: cover;
      max-height: 60vh;
      display: block;
    }
  }

  .default-content-wrapper:not(.image-content) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & h2 {
    font-size: var(--text-size-display-xs);
    font-weight: 700;
    line-height: 2rem;
  }

  & p {
    margin-block: var(--spacing-1);
    color: var(--colors-text-text-tertiary);
  }

  & ul {
    margin: var(--spacing-4) 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);

    & li {
      padding: 0 var(--spacing-2);
      display: flex;
      gap: var(--spacing-2);
      color: var(--colors-text-text-tertiary);

      &:has(a) {
        padding-block: 0;
      }
    }

    & .icon {
      width: var(--spacing-4);
      height: var(--spacing-4);
      display: inline-flex;

      &:not(.icon-map-pin) {
        align-self: center;
      }
    }
  }

  &.breakout-left {
    .image-content {
      grid-column: breakout-left / content;
    }
  }

  &.breakout-right {
    .image-content {
      grid-column: content / breakout-right;
    }
  }
}

@media (width > 768px) {
  .breakout-left {
    grid-column: breakout-left;
    grid-template-columns: subgrid;
    display: grid;
  }

  .breakout-right {
    grid-column: breakout-right;
    grid-template-columns: subgrid;
    display: grid;
  }

  .two-columns {
    --two-column-grid-flow: column;
    --two-column-margin-block: 0;
    
    grid-template-rows: unset;

    &.breakout-left {
      grid-column: breakout-left;

      .default-content-wrapper {
        grid-column: content-right;

        &.image-content {
          grid-column: breakout-left / content-left;
          margin-inline-end: calc((var(--section-layout-gap) / 2) * -1);
        }
      }
    }

    &.breakout-right {
      grid-column: breakout-right;

      .default-content-wrapper {
        grid-column: content-left;

        &.image-content {
          grid-column: content-right / breakout-right;
          margin-inline-start: calc((var(--section-layout-gap) / 2) * -1);
        }
      }
    }

    .default-content-wrapper {
      grid-row: unset;

      &.image-content {
        grid-column: image;
        grid-row: unset;
      }
    }
  }
}

@media (width > 1024px) {
  &:has(.breakout-left) {
    .default-content-wrapper:not(.image-content) {
      padding-inline-start: var(--spacing-10);
    }
  }

  &:has(.breakout-right) {
    .default-content-wrapper:not(.image-content) {
      padding-inline-end: var(--spacing-10);
    }
  }

  .two-columns {
    --two-column-image-width: 1.53fr;
  }
}

.include.cards {
  margin-block: var(--spacing-12);
}