/* lazy */
.include-wrapper {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: full-width;

  & > .include.cards {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: content;
  }

  .cards.wrapper {
    display: grid;
    grid-column: content;
  }
}