.columns-wrapper,
.columns-wrapper > .block {
  grid-column: full-width;
  display: grid;
  grid-template-columns: subgrid;

  &:is(.block) {
    background: var(--bg-color);
  }
}

.columns > div {
  margin-block: var(--spacing-6);
  grid-column: content;
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns ul {
  margin-inline-start: var(--spacing-6);
}

@media (width >= 900px) {
  .columns > div {
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

body.details .columns.block:has(.columns-img-col) > div {
  gap: var(--spacing-6);
}

.contact-us-columns {
  & ul li a {
    padding-block: var(--spacing-1);
    display: inline-block;
  }
}