/* lazy cta styles */
.cta-wrapper,
.cta-wrapper > .block,
.cta-wrapper > .block > div {
  grid-column: full-width;
  display: grid;
  grid-template-columns: subgrid;

  &:is(.block) {
    padding-block: var(--spacing-8);
    background: url('/icons/forest-background.webp') no-repeat bottom center / cover;
  }
}

.cta-content {
  --color-text: var(--color);

  background-color: var(--bg-color);
  color: var(--color);
  grid-column: content;
  padding: var(--spacing-6);
  border-radius: var(--spacing-6);

  @media (width > 768px) {
    & {
      padding: var(--spacing-12);
      display: grid;
      grid-template:
        'title button' auto
        'description button' auto
        / 1fr auto;
      column-gap: var(--spacing-8);

      & h3 {
        grid-area: title;
        margin-block: 0;
      }

      & p:not(.button-container) {
        grid-area: description;
        margin-block: 0;
      }

      & .button-container {
        grid-area: button;
        margin-block: 0;
      }
    }
  }
}
