html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--hlx-sk-bg);
  height: 100%;
  color: var(--hlx-sk-color);
  font-family: var(--hlx-sk-font-family);
}

helix-sidekick { display: none }

#title {
  transition: opacity 0.5s ease-in-out;
  margin: 0;
  padding: 1rem;
  font-size: 1.65rem;
}

body:not(.loaded) #title {
  animation: oscillate-opacity 1s ease-in-out infinite alternate;
}

@keyframes oscillate-opacity {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

#app ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


#app li {
  display: flex;
  flex-direction: column;
}

#app a {
  color: var(--hlx-sk-accent, blue);
}

#app span {
  word-wrap: break-word;
  font-size: .8rem;
}


#app .icon.toggle svg {
  grid-area: toggle;
  filter: invert(100%) sepia(0%) saturate(6192%) hue-rotate(197deg) brightness(106%) contrast(84%);
}

#app .links-toggle {
  display: grid;
  grid-template-areas: "toggle";
}

#app .links-toggle input {
  appearance: none;
  grid-area: toggle;
}

#app table {
  border-spacing: 0;
  font-size: .8rem;
  border-block-end: var(--hlx-sk-button-border);
  border-block-end-width: .25rem;
  width: 100%;
}

#app td {
  padding: .5rem;
  vertical-align: top;
  border-block-end: var(--hlx-sk-button-border);
}

#app td + td {
  border-inline-start: var(--hlx-sk-button-border);
}

#app td:nth-child(odd) {
  font-weight: bold;
}

#app .page-title-wrapper,
#app .link-title-wrapper {
  display: grid;
  grid-template-columns: 1.5rem 1fr 1.5rem;
  gap: .25rem;
  align-items: center;
  border-block: var(--hlx-sk-button-border);
  padding: .75rem .5rem;
}

#app .page-links,
#app .link-details {
  max-height: 0;
  overflow: hidden;
  transition: all .3s;
}

#app li:has(input:checked) > .page-links,
#app li:has(input:checked) > .link-details {
  max-height: 100%;
}

#app .page-links {
  border-inline-start: 1.5rem solid;
}

#app .valid {
  filter: invert(59%) sepia(72%) saturate(4441%) hue-rotate(64deg) brightness(92%) contrast(86%);
}

#app .invalid {
  filter: invert(9%) sepia(79%) saturate(5775%) hue-rotate(357deg) brightness(95%) contrast(90%);
}

#app .no-links svg {
  filter: invert(69%) sepia(8%) saturate(12%) hue-rotate(346deg) brightness(88%) contrast(89%);
}

#app .page:not(:has(.page-links .invalid)) .page-title-wrapper .valid {
  display: block;
}

#app .page:not(:has(.page-links .invalid)) .page-title-wrapper .invalid {
  display: none;
}

#app .page:has(.page-links .invalid) .page-title-wrapper .valid {
  display: none;
}

#app .page:has(.page-links .invalid) .page-title-wrapper .invalid {
  display: block;
}

#app .icon {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  place-content: center;
}