html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--hlx-sk-bg);
  height: 100%;
  color: var(--hlx-sk-color);
  font-family: var(--hlx-sk-font-family);
}

helix-sidekick { display: none }

#title {
  transition: opacity 0.5s ease-in-out;
  margin: 0;
  padding: 1rem;
  font-size: 1.65rem;
}

body:not(.loaded) #title {
  animation: oscillate-opacity 1s ease-in-out infinite alternate;
}

@keyframes oscillate-opacity {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

#app ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body.loaded ul:has(li) {
  border-top: var(--hlx-sk-button-border);
}

#app li {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem 1rem 1rem;
  border-bottom: var(--hlx-sk-button-border);
}

#app a {
  color: var(--hlx-sk-accent, blue);
}

#app span {
  word-wrap: break-word;
  font-size: .8rem;
}

#app table {
  border-spacing: 0;
  font-size: .8rem;
}


#app td {
  padding: .25rem;
  vertical-align: top;
  border: var(--hlx-sk-button-border);
}

#app td:not(tr:first-child) {
  border-top: none;
}

#app td + td {
  border-inline-start: none;
}

#app td:nth-child(odd) {
  font-weight: bold;
}

#app .link-title-wrapper {
  display: grid;
  grid-template-columns: 1.5rem 1fr 1.5rem;
  gap: .25rem;
  align-items: center;
}

#app .link-validity svg {
  filter: invert(1);
}