/*
.search.block {
  max-width: var(--layout-max-width);
  margin: 0 auto;
}

#search-form {
  flex-direction: row;
  text-align: left;
  max-width: 60ch;
  margin: var(--spacing-8) auto 0;
  padding-inline: var(--spacing-4);

  & .field-wrapper {
    width: auto;

    &:first-child {
      flex: 1;
    }

    &:last-child {
      align-self: flex-end;
    }

    & label {
      display: none;
    }

    & img {
      aspect-ratio: unset;
      width: var(--spacing-3);
      height: var(--spacing-3);
    }
  }
}
*/
.search-wrapper {
  grid-column: content;
}