.blog-wrapper {
  grid-column: content;
}

#pagination-controls {
  margin-block-start: var(--spacing-12);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block-start: 3px double var(--color-text);
  border-block-end: 1px solid var(--color-text);

  & button {
    flex: 1;
    border-radius: 0;

    &:last-child {
      border-inline-start: 1px solid var(--color-text);
    }
  
    @media (width > 768px) {
      flex: none;
    }
  }
}

#current-page {
  display: none;

  @media (width > 768px) {
    display: flex;
    flex: 1;
    justify-content: center;
    padding-block: var(--spacing-3);
    border-inline-start: 1px solid var(--color-text);
    width: auto;
  }
}