.hero-wrapper {
  --hero-spacing: var(--spacing-4);

  background: url('/icons/forest-background.webp') no-repeat bottom center / cover;
  grid-column: full-width;
  display: grid;
  grid-template-columns: subgrid;
  position: relative;
  border-bottom: 4px double var(--color-border-primary);
  padding: var(--spacing-8) 0 0;
  overflow: hidden;

  .block {
    grid-column: content;
  }
  
  &::after {
    display: block;
    content: "";
    background: url('/icons/hero-divider.webp') no-repeat bottom center;
    min-width: 100%;
    min-height: 200px;
    bottom: -75px;
    position: absolute;
  }

  &:has(.simple) {
    &::after {
      display: none;
    }
  }

  @media (width > 60rem) {
    &::after {
      bottom: -40px;
    }
  }

  .hero-content {
    padding: var(--spacing-8);
    background: linear-gradient(180deg, hsla(var(--color-brand-4-hsl) / 65%) 0%, hsla(var(--color-brand-4-hsl) / 90%) 100%);
    border: 1px solid var(--color-border-secondary);
    border-radius: var(--spacing-8) var(--spacing-8) 0 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);

    @media (width > 60rem) {
      flex-direction: row;
    }

    &:is(.hero.block.centered &) {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  & h1,
  & h2:not(h1 + h2) {
    text-shadow: 1px 1px 0 var(--color-foreground), 2px 2px 0 var(--color-text-on-foreground);
    margin-block: 0;
    color: var(--color-text-on-foreground);
  }

  & h2 {
    margin-block: 0;
    color: var(--color-text-on-foreground);
  }

  .button-container {
    margin-block: 0;
    flex-shrink: 0;
  }

  .hero-picture,
  .hero-picture img {
    width: 100%;
    height: auto;
    display: block;
    max-height: 40vh;
  }

  .hero-picture img {
    object-fit: cover;
  }
}

#search-form {
  flex-direction: row;
  align-items: flex-end;
  gap: 0;
  min-width: min(80vw, var(--spacing-160));
  text-align: left;
  margin-block: var(--spacing-4);

  .field-wrapper:first-child {
    flex: 2;
    gap: var(--spacing-1);

    & input {
      border-radius: var(--spacing-3) 0 0 var(--spacing-3);
    }
  }

  .field-wrapper:nth-child(2) {
    flex: 1;

    & button {
      position: relative;
      border-radius: 0 var(--spacing-3) var(--spacing-3) 0;
      top: -2px;
      margin: 0;
      font-size: var(--font-size);

      & img {
        width: var(--font-size);
      }
    }
  }
}
