.hero-wrapper {
  --hero-spacing: var(--spacing-4);

  background: url('/icons/forest-background.webp') no-repeat bottom center / cover;
  grid-column: full-width;
  display: grid;
  grid-template-columns: subgrid;
  position: relative;
  border-bottom: 4px double var(--color-border-primary);
  padding: var(--spacing-8) 0 0;
  overflow: hidden;

  .block {
    grid-column: content;
  }
  
  &::after {
    display: block;
    content: "";
    background: url('/icons/hero-divider.webp') no-repeat bottom center;
    min-width: 100%;
    min-height: 200px;
    bottom: -75px;
    position: absolute;
  }

  @media (width > 60rem) {
    &::after {
      bottom: 0;
    }
  }

  .hero-content {
    padding: var(--spacing-8);
    background: linear-gradient(180deg, rgba(221 161 94 / 65%) 0%, rgba(221 161 94 / 90%) 100%);
    border: 1px solid var(--color-border-secondary);
    border-radius: var(--spacing-8) var(--spacing-8) 0 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);

    @media (width > 60rem) {
      flex-direction: row;
    }
  }

  & h1,
  & h2:not(h1 + h2) {
    text-shadow: 1px 1px 0 var(--color-foreground), 2px 2px 0 var(--color-text);
    margin-block: 0;
  }

  & h2 {
    margin-block: 0;
  }

  .button-container {
    margin-block: 0;
    flex-shrink: 0;
  }

  .hero-picture,
  .hero-picture img {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 16 / 9;
  }

  .hero-picture img {
    object-fit: cover;
  }
}
