@font-face {
  font-family: Caprasimo;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/Caprasimo-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Caprasimo Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Times New Roman');
  ascent-override: 72.24%;
  descent-override: 18.02%;
  line-gap-override: 0.00%;
  size-adjust: 127.06%;
}