body {
  background-color: var(--color-background);
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: var(--color-link);

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: none;
    box-shadow: var(--focus-ring);
  }
}

header,
.header-wrapper {
  --header-padding: var(--spacing-4);
  --header-margin-top: 8px;

  position: sticky;
  top: var(--header-margin-top);
  z-index: 99;
  margin-top: var(--header-margin-top);
  box-shadow: 0 -2px 0 var(--color-secondary),
              0 -8px 0 var(--color-foreground),
              0 0 8px var(--color-shadow-default);
  border-block-start: 1px solid var(--color-brand-2);
  border-block-end: 2px solid var(--color-brand-2);
  background: var(--color-brand);
  display: grid;
  grid-template-columns: var(--section-template-columns);
  min-height: var(--spacing-20);

  &::before {
    content: "";
    display: block;
    background: url('/icons/hops-background.webp') no-repeat center center / cover;
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    background-blend-mode: multiply;
    opacity: 0.05;
    z-index: -1;
  }

  .block,
  .nav-wrapper {
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    grid-column: full-width;
  }

  & a {
    font-family: var(--font-display);
    font-size: var(--font-sm);
    color: var(--color-text-on-brand);
    text-decoration: none;
    text-shadow: 1px 1px 0 var(--color-text-shadow);
    display: flex;
    gap: var(--spacing-2);
    align-items: center;
    border-radius: var(--spacing-2);
    padding: var(--spacing-2);

    &:hover {
      text-shadow: none;
      background: var(--color-brand);
      color: var(--color-brand-3-hover);
    }

    &:focus {
      background-color: var(--color-brand-2);
      color: var(--color-brand-3-hover);
      outline: 3px solid var(--color-focus-ring);
      outline-offset: 0;
    }

    .icon:not(.icon-logo-desktop) {
      width: var(--spacing-4);
      height: var(--spacing-4);
      display: flex;
    }
  }

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    z-index: 1;
    position: relative;
    height: 100%;

    @media (width > 768px) {
      flex-direction: row;
      justify-content: flex-end;
    }

    & li {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    
      @media (width <= 768px) {
        &:has(.color-mode-toggle) {
          flex: 1;
          align-items: flex-end;
        }
      }
    }
  }

  @media (width < 1024px) {
    .nav-brand {
      & a {
        margin-inline-start: calc(var(--spacing-4) * -1);
      }
    }
  }

}

.icon-logo-desktop img {
  width: 100%;
  max-width: var(--spacing-48);
  height: var(--spacing-12);
}

#nav {
  grid-column: content;
  display: grid;
  grid-auto-flow: column;
  align-items: center;

  & p,
  & ul {
    margin: 0;
  }

  @media (width <= 768px) {
    .nav-hamburger {
      order: 1;
    }
  }

  &[aria-expanded="true"] {
    .nav-sections {
      display: grid;
      min-height: var(--spacing-20);
    }
  }
}

.nav-hamburger {
  justify-self: flex-end;
  z-index: 1;

  & button {
    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: var(--spacing-3);
    margin-inline-end: calc(var(--spacing-3) * -1);

    & span {
      background: url('/icons/menu.svg') no-repeat center center / contain;
      display: block;
      width: 22px;
      height: 22px;

    }

    &:hover {
      background-color: var(--color-brand);
    }

    &:focus {
      outline: none;
      box-shadow: var(--focus-ring);
    }

    &:is(#nav[aria-expanded="true"] button) {
      margin-inline-end: calc(var(--spacing-1) * -1);

      & span {
        background: url('/icons/close.svg') no-repeat center center / contain;
      }
    }
  }

  @media (width > 768px) {
    display: none;
  }
}

@media (width <= 768px) {
  .nav-sections {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--color-brand);
    padding: var(--spacing-20) var(--spacing-6) var(--spacing-6);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    &:is(#nav[aria-expanded="true"] .nav-sections) {
      display: grid;
      transform: translateX(0);
      visibility: visible;
      opacity: 1;
      box-shadow: -4px 0 8px var(--color-shadow-default);
    }

    & a {
      flex-direction: row-reverse;
      gap: var(--spacing-3);
    }
  }
}

@media (width > 768px) and (width < 1024px) {
  .nav-text-wrapper {
    display: none;
  }
}

button:not(.nav-hamburger button, .story-nav, .color-mode-toggle),
.button {
  --button-padding: var(--spacing-3) var(--spacing-4);

  border: 2px solid transparent;
  padding: var(--button-padding);
  font-family: var(--font-display);
  border-radius: var(--spacing-2);
  font-size: var(--font-sm);
  text-decoration: none;
  display: inline-flex;
  gap: var(--spacing-3);
  justify-content: center;
  
  &:not(:disabled) {
    cursor: pointer;
  }

  &.primary {
    background: var(--color-primary);
    box-shadow: 0 2px 0 var(--color-text);
    color: var(--color-text-on-brand);

    &:hover {
      box-shadow: 0 1px 0 var(--color-text);
    }

    &:active {
      box-shadow: none; 
    }

    .icon {
      .dark-mode {
        display: inline;
      }

      .light-mode {
        display: none;
      }
    }
  }

  &.secondary {
    border: 2px solid var(--color-brand);
    color: var(--color-brand);
    box-shadow: 0 2px 0 var(--color-text);
    font-style: normal;
  
    &:hover {
      box-shadow: 0 1px 0 var(--color-text);
    }

    &:active {
      box-shadow: none; 
    }

  }

  &:not(.primary,.secondary, .enzuzo-notification-button) {
    background: var(--color-brand-4);
    color: var(--color-brand-2);
    box-shadow: 0 2px 0 var(--color-secondary);
  
    &:hover {
      box-shadow: 0 1px 0 var(--color-secondary);
    }

    &:active {
      box-shadow: none; 
    }
  }

  &:focus {
    outline: none;
    box-shadow: var(--focus-ring);
  }
}

::selection {
  background: var(--color-brand);
  color: var(--color-background);
}


.section:not(header .section, footer .section) {
  background-color: var(--bg-color, var(--color-background));
  color: var(--color, var(--color-text));
}

.bg-brand {
  --bg-color: var(--color-brand);
  --color: var(--color-text-on-brand);
}

.bg-foreground {
  --bg-color: var(--color-foreground);
  --color: var(--color-text-on-foreground);
}

.bg-background {
  --bg-color: var(--color-background);
  --color: var(--color-text-on-background);
}

.bg-primary {
  --bg-color: var(--color-primary);
  --color: var(--color-text-on-primary);
}

.bg-secondary {
  --bg-color: var(--color-secondary);
  --color: var(--color-text-on-secondary);
}

.bg-tertiary {
  --bg-color: var(--color-tertiary);
  --color: var(--color-text-on-tertiary);
}

.bento {
  .bg-primary,
  .bg-secondary,
  .bg-tertiary,
  .bg-brand,
  .bg-text {
    .icon {
      .dark-mode {
        display: inline;
      }

      .light-mode {
        display: none;
      }
    }
  }

  .bg-foreground,
  .bg-background {
    .icon {
      .dark-mode {
        display: none;
      }

      .light-mode {
        display: inline;
      }
    }
  }
}

.form-wrapper {
  grid-column: full-width;
  display: grid;
  grid-template-columns: subgrid;

  &:has(.content-middle) {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: full-width;
  }
}

form {
  display: flex;
  gap: var(--spacing-4);
  flex-direction: column;
}

.field-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);

  & button {
    width: 100%;
  }
}

.form.block {
  container: newsletter form / inline-size;
}

form[data-action='/newsletter'] {
  flex-direction: column;

  & .field-wrapper:first-child {
    flex: 1;
  }

  & .field-wrapper:last-child {
    align-self: flex-end;
  }
}

@container newsletter (min-width: 400px) {
  form[data-action='/newsletter'] {
    display: grid;
    grid-template-columns: 1fr auto;
  
    & button {
        width: auto;
    }
  }
}

.section.form-container.fragment-container {
  background: var(--colors-background-bg-secondary);
  padding-block: var(--spacing-16);
  max-width: unset;

  & .default-content-wrapper,
  & .form-wrapper {
    max-width: var(--layout-max-width);
    margin: 0 auto;
    text-align: center;

    & form {
      display: grid;
      max-width: var(--spacing-120);
      margin-inline: auto;
      text-align: left;

      & .field-wrapper {
        margin-top: var(--spacing-4);
      }
    }
  }
}

form[data-action='/contact'] {
  @container form (min-width: 400px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;

    & .field-wrapper {
      grid-column: span 4;

      &:first-child,
      &:nth-child(2) {
        grid-column: span 2;
      }

      &:last-child {
        grid-column: span 2;
      }

    }
  }

  @container form (min-width: 600px) {
    & .field-wrapper:last-child {
      grid-column: span 1;
    }
  }
}

input, textarea {
  width: 100%;
  padding: var(--spacing-3);
  border: 1px solid var(--color-border-primary);
  border-radius: var(--spacing-2);
  background-color: hsla(var(--color-background-hsl) / 90%);
  font-family: var(--font-copy);
  font-size: var(--font-size);
  color: var(--color-text);
  box-shadow: 0 1px 2px 0 var(--color-shadow-default);

  &:is(textarea) {
    min-height: var(--spacing-32);
  }

  &::placeholder {
    color: hsla(var(--color-text-hsl) / 50%);
    font-style: italic;
  }

  &:hover {
    border-color: var(--color-border-secondary);
  }

  &:focus {
    outline: none;
    border-color: var(--color-border-brand);
    box-shadow: var(--focus-ring);
    background: var(--color-background);
  }

  &:disabled {
    background-color: hsla(var(--color-background-hsl) / 70%);
    border-color: hsla(var(--color-border-primary-hsl) / 70%);
    color: hsla(var(--color-text) / 50%);
    cursor: not-allowed;
  }
}

input[type='checkbox'] {
  border: 1px solid var(--color-border-primary);
  width: var(--spacing-4);
  height: var(--spacing-4);
  border-radius: var(--border-radius-xs);
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;
  appearance: none;
  background: none;
  margin: 0;
  font: inherit;
  /* stylelint-disable-next-line value-keyword-case */
  color: currentColor;
  padding: 0;
  display: grid;
  grid-template-areas: checkbox;
  place-content: center;

  &:hover {
    border-color: var(--color-border-secondary);
  }

  &:focus {
    outline: none;
    border-color: var(--color-border-brand);
    box-shadow: var(--focus-ring);
  }

  &::before {
    content: '';
    width: var(--spacing-2);
    height: var(--spacing-2);
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--color-background);
    border-radius: var(--border-radius-xxs);
    grid-area: checkbox;
  }

  &::after {
    content: '';
    grid-area: checkbox;
    background: url('/icons/check.svg') no-repeat center center / contain;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    width: var(--spacing-2);
    height: var(--spacing-2);
    display: block;
    z-index: 1;
  }

  &:is(html.dark-mode &) {
    &::after {
      background: url('/icons/check-inverted.svg') no-repeat center center / contain;
    }
  }

  &:checked {
    &::before {
      transform: scale(2);
    }

    &::after {
      transform: scale(1.5);
    }
  }
}

.form-checkbox-wrapper {
  display: grid;
  grid-template-columns: var(--spacing-4) auto;
  gap: var(--spacing-2);
  align-items: center;

  & label {
    color: var(--color-text);

    &:hover {
      color: var(--color-text)
    }
  }
}

@keyframes slide-up {
  from {
    transform: translateY(20%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes progress-bar {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
