body {
  background-color: var(--color-background);
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: var(--color-brand);

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: none;
    box-shadow: var(--focus-ring);
  }
}

header,
.header-wrapper {
  --header-padding: var(--spacing-4);
  --header-margin-top: 8px;

  position: sticky;
  top: var(--header-margin-top);
  z-index: 1;
  margin-top: var(--header-margin-top);
  box-shadow: 0 -2px 0 var(--color-secondary),
              0 -8px 0 var(--color-foreground),
              0 0 8px var(--color-shadow-default);
  border-block-start: 1px solid var(--color-brand-2);
  border-block-end: 2px solid var(--color-brand-2);
  background: var(--color-brand);
  display: grid;
  grid-template-columns: var(--section-template-columns);
  min-height: var(--spacing-20);

  &::before {
    content: "";
    display: block;
    background: url('/icons/hops-background.webp') no-repeat center center / cover;
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    background-blend-mode: multiply;
    opacity: 0.05;
    z-index: -1;
  }

  .block,
  .nav-wrapper {
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    grid-column: full-width;
  }

  .header-nav {
    grid-column: span 3;
  }

  a {
    font-family: var(--font-display);
    font-size: var(--font-sm);
    color: var(--color-background);
    text-decoration: none;
    text-shadow: 1px 1px 0 var(--color-text);
    display: flex;
    gap: var(--spacing-2);
    align-items: center;
    border-radius: var(--spacing-2);
    padding: var(--spacing-2);

    &:hover {
      text-shadow: none;
      background: var(--color-brand);
    }

    &:focus {
      background-color: var(--color-text);
      color: var(--color-background);
      outline: 3px solid var(--color-focus-ring);
      outline-offset: 0;
    }

    .active,
    &:active {
      background-color: var(--color-text);
      color: var(--color-background);
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    justify-content: flex-end;
    z-index: 1;
    position: relative;

    @media (width > 768px) {
      flex-direction: row;
    }
    
    ul {
      display: none;
    }
  }

  .header-brand a,
  .header-brand span,
  .header-brand img {
    display: inline-flex;
    width: 100%;
  }

  .header-brand img {
    max-width: 200px;
  }

  .header-tools {
    display: none;
  }
}

#nav {
  grid-column: content;
  display: grid;
  grid-auto-flow: column;
  align-items: center;

  p,
  ul {
    margin: 0;
  }

  @media (width < 768px) {
    .nav-hamburger {
      order: 1;
    }
  }

  &[aria-expanded="true"] {
    .nav-sections {
      display: grid;
    }
  }
}

.nav-hamburger {
  justify-self: flex-end;
  z-index: 1;

  button {
    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: var(--spacing-3);
    margin-inline-end: calc(var(--spacing-3) * -1);

    span {
      background: url('/icons/menu.svg') no-repeat center center / contain;
      display: block;
      width: 22px;
      height: 22px;

      &:is(#nav[aria-expanded="true"] button span) {
        background: url('/icons/close.svg') no-repeat center center / contain;
      }
    }

    &:hover {
      background-color: var(--color-brand);
    }

    &:focus {
      outline: none;
      box-shadow: var(--focus-ring);
    }
  }

  @media (width > 768px) {
    display: none;
  }
}

@media (width < 768px) {
  .nav-sections {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--color-brand);
    padding: var(--spacing-20) var(--spacing-6) var(--spacing-6);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    &:is(#nav[aria-expanded="true"] .nav-sections) {
      display: grid;
      transform: translateX(0);
      visibility: visible;
      opacity: 1;
      box-shadow: -4px 0 8px var(--color-shadow-default);
    }

    a {
      justify-content: flex-end;
    }
  }
}

main .default-content-wrapper:not(#nav .default-content-wrapper) {
  margin-block: var(--spacing-8);
}

button:not(.nav-hamburger button),
.button {
  --button-padding: var(--spacing-3) var(--spacing-4);

  border: 2px solid transparent;
  padding: var(--button-padding);
  font-family: var(--font-display);
  border-radius: var(--spacing-2);
  font-size: var(--font-sm);
  text-decoration: none;
  display: inline-flex;
  gap: var(--spacing-3);
  
  &:not(:disabled) {
    cursor: pointer;
  }

  &.primary {
    background: var(--color-primary);
    box-shadow: 0 2px 0 var(--color-text);
    color: var(--color-background);

    &:hover {
      box-shadow: 0 1px 0 var(--color-text);
    }

    &:active {
      box-shadow: none; 
    }
  }

  &.secondary {
    border: 2px solid var(--color-brand);
    color: var(--color-brand);
    box-shadow: 0 2px 0 var(--color-text);
    font-style: normal;
  
    &:hover {
      box-shadow: 0 1px 0 var(--color-text);
    }

    &:active {
      box-shadow: none; 
    }

  }

  &:not(.primary,.secondary) {
    border: 2px solid var(--color-foreground);
    color: var(--color-secondary);
    box-shadow: 0 2px 0 var(--color-secondary);
  
    &:hover {
      box-shadow: 0 1px 0 var(--color-secondary);
    }

    &:active {
      box-shadow: none; 
    }
  }

  &:focus {
    outline: none;
    box-shadow: var(--focus-ring);
  }
}

::selection {
  background: var(--color-brand);
  color: var(--color-background);
}
