* {
  box-sizing: border-box;

  &:empty {
    display: none;
  }
}

html, body, ul, ol {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
}
